
*{
  margin: 0 auto;
}

body{
  width: 90%;
  max-width:700px;
  overflow-x: hidden;
  background:url(http://www.designals.net/wp-content/uploads/2011/09/PaperTexture-5.jpg);
  background-size:cover;
}
.blacktopline{
    height: 20px;
    background-color:black;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #datacontenido{
    margin: 0 auto;
  }
  .namenews{
      font-size: 14vh;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #000000;
  }
  .datanews{
    height: 40px;
    border: solid 1px gray;
    width: 100%;
    margin: 0% auto;
    margin-bottom: 30px;
    text-align: center; 
  }
  .datanews ul{
    width: 100%;
    margin-left:-40px;
  }
  .datanews ul li {
    display: inline-flex;
    margin: 0 auto;
    padding: 10px;
  }
  .titleplana{
    margin: 0 auto;
    text-align:center;
    width:100%;
    text-transform: uppercase;
    font-size: 6.4vh;
    margin-bottom:10px;
  }
  .body-contnent{
    width:100%;
    display:inline-flex;
  }
  foto img{
    width:250px;
    display:inline-flex;
    height: 100%;
  }
  .div-3{
    width:25%;
    display:inline-flex;
    padding:10px;
  }
  h3{
    font-size: 3.6vh;
    margin-bottom: 9px;
    text-transform:uppercase
  }