* {
  margin: 0;
  padding: 0;
}
body {
    background: #e6e6e6;
}

header, .main, footer {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

header nav {
    background: #528fd5;
    overflow: hidden;

}

header nav ul {
    list-style: none;
}

header nav ul li {
    float: right;
}

header nav ul li a {
  padding: 10px 20px;
  display: block;
  color: #fff;
  text-decoration: none;
}

header nav ul li a:hover {
    background:#75ACEC;
}

.main .articulos {
    width: 68.5%;
    margin-right: 1.5%;
    float: left;
}
.main .articulos article {
    padding: 30px;
    background: #fff;
    margin-bottom: 30px;

}
.main .image{
   
    margin-bottom: 20px;

} 
aside {
    width: 30%;
    background: crimson;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    background: black;
    color: #fff;
    clear: both;
    padding: 10px 0px;
    text-align: center;
}